*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    transition: 0.5s ease all;
}
.header{
    background-color: orange;
    height: 13vh;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px grey;
}
.header .nav{
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
    flex-basis: 4;
}
.header .nav .name img{
    width: 85px;
}
.header .nav .nav-link .first{
    display: flex;
    list-style: none;
    z-index: 2;
}
.header .nav .nav-link .first li{
    width: 140px;
}
.header .nav .nav-link .first li a{
    color:white;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}
.header .nav .nav-link .second{
    list-style: none;
    z-index: 2;
}
.header .nav .nav-link .second li{
    line-height: 50px;
    display: none;
}
.header .nav .nav-link .second li a{
    text-decoration: none;
    color:black;
    font-weight: bolder;
    font-size: 16px;
    transition: 0.5s ease-in;
    padding: 0px;
   
}
.header .nav .nav-link .first li:hover .second li{
    display: block;
    transition: 0.5s ease all;
}
.header .nav .nav-link .first li a:hover{
    background-color: black;
    border-radius: 20px;
    transition: 0.5s ease all;
}
.header .nav .nav-link .second li a:hover{
    border-bottom: 2px solid orange;
    background-color: transparent;
}
.header .nav .toggle{
   padding: 0.6rem;
    display: none;
}
.header .nav .toggle i{
    color:white;
    font-size: 40px;
    cursor: pointer;
}
.header .nav .social{
    padding: 0.6rem;
 }
.header .nav .social i{
    color:white;
    font-size: 18px;
    cursor: pointer;
}
.header .nav .social i:hover{
    transition: 0.5s ease all;
    opacity: 50%;
}
/* HEADER STYLING STOPS HERE */




/* BANNER DESIGN STARTS HERE */

#banner{
    height: 500px;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/OIF.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 20px;
}
#banner h1{
    color:white;
    font-weight: bolder;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#banner span{
    color:orange;
}
#banner h4{
    color:white;
    font-style: italic;
    font-weight: lighter;
    line-height: 20px;
}
#banner p{
    color:white;
    font-weight: lighter;
    margin-top: 40px;
}
#banner .content{
    margin-top: 80px;
}
#banner .trial a{
    text-decoration: none;
}
#banner .trial .start{
    width:200px;
    height: 50px;
    color:white;
    background-color: orange;
    font-size: 18px;
    border-radius: 20px;
    outline: none;
    border: 2px solid white;
    font-weight: bolder;
    cursor: pointer;
}
#banner .trial .reg{
    cursor: pointer;
    width:210px;
    height: 50px;
    font-weight: bolder;
    color:orange;
    background-color: white;
    font-size: 18px;
    border-radius: 20px;
    outline: none;
    border: 2px solid white;
}
/* COURSE DESIGN STARTS HERE */

#course{
    margin-top: 40px;
    border-radius: 20px;
} 
#course h1{
    color:black;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#course .course-img img{
    width: 100%;
    height: 250px;
    padding:20px;
    border-radius: 20px;
}
#course .course-img{
    background-color: white;
    border-radius: 20px;
    border:3px solid grey;
    margin-top: 40px;
}
#course .course-text{
    background-color: #fff;
    margin-top: 10px; 
}
#course .course-text p{
    font-weight: bolder;
    font-size: 20px;
    border: 2px solid grey;
}
.parent{
    background: white;
}

/* DESING FOR PRICING BEGINS HERE */
#pricing{
    margin-top: 40px;
}
#pricing .order-package{
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
}
#pricing .order-package h4{
    color:orange;
    font-weight: bolder;
    text-align: center;
}
#pricing .order-package img{
    width: 200px;
    height: 210px;
    object-position: center;
}
#pricing .gru{
    background-color: lightgray;
}

#pricing .order-package p{
    color:orange;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
#pricing .order-pricing{
    background-color: white;
    border-radius: 20px;
}
#pricing .order-pricing h4{
    color:orange;
    font-weight: bolder;
    text-align: center;
}
#pricing h1{
    color:black;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
/* STYLING FOR REGISTGER BEGINS HERE */
#register{
    margin-top: 40px;
}
#register #slider img{
    width: 90%;
    height: 300px;
    position: absolute;
    transition: 0.5s ease all;
    background-color: lightgrey;
    padding: 50px;
    border-radius: 20px;
}
#slider{
    margin-top: 40px;
}
#register #slider .animate-1{
  animation: first 18s linear infinite ;
}
#register #slider .animate-2{
    animation: second 18s linear infinite ;
  }
  #register #slider .animate-3{
    animation: third 18s linear infinite ;
  }
  #register #slider .animate-4{
    animation: fourth 18s linear infinite ;
  }
  #register #slider .animate-5{
    animation: fifth 18s linear infinite ;
  }
  #register #slider h2{
      position: absolute;
      margin-left: 10px;
      color: black;
      font-family: cursive;
  }
@keyframes first{
    0%{
       visibility: hidden;
    }
    20%{
        visibility: visible;
        transition: 0.5s ease-in;
    }
    40%{
        visibility: hidden;
    }
    60%{
        visibility: hidden;
    }
    80%{
        visibility: hidden;
    }

    100%{
      visibility: hidden;
    }
}
@keyframes second{
    0%{
       visibility: hidden;
    }
    20%{
        visibility: hidden;
    }
    40%{
        visibility: visible;
    }
    60%{
        visibility: hidden;
    }
    80%{
        visibility: hidden;
    }

    100%{
      visibility: hidden;
    }
}
@keyframes third{
    0%{
       visibility: hidden;
    }
    20%{
        visibility: hidden;
    }
    40%{
        visibility: hidden;
    }
    60%{
        visibility: visible;
    }
    80%{
        visibility: hidden;
    }

    100%{
      visibility: hidden;
    }
}

@keyframes fourth{
    0%{
       visibility: hidden;
    }
    20%{
        visibility: hidden;
    }
    40%{
        visibility: hidden;
    }
    60%{
        visibility: hidden;
    }
    80%{
        visibility: visible;
    }

    100%{
      visibility: hidden;
    }
}
@keyframes fifth{
    0%{
       visibility: hidden;
    }
    20%{
        visibility: hidden;
    }
    40%{
        visibility: hidden;
    }
    60%{
        visibility: hidden;
    }
    80%{
        visibility: hidden;
    }

    100%{
      visibility: visible;
    }
}
/* FOOTER STYLING STARTS HERE */

footer{
   background-color: black;
   margin-top: 40px;
 }
footer .socials i{
    color:white;
    font-size: 18px;
    cursor: pointer;
}
footer .socials i:hover{
    transition: 0.5s ease all;
    opacity: 50%;
}
footer h1{
    color:white;
    font-weight: bolder;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer span{
    color:orange;
}
footer h4{
    color:white;
    font-style: italic;
    font-weight: lighter;
    line-height: 20px;
}
footer p{
    color:white;
    font-weight: lighter;
    margin-top: 40px;
}
footer .content{
    margin-top: 80px;
}
#copyright{
    background-color: orange;
    padding: 20px;
}

/* PAYMENT SLIP */

.details table{
    border: 4px solid black;
    width: 100%;
    height: 400px;
}
.details table tr{
    border:3px solid black;
}
.details table tr td{
    border: 3px solid black;
    font-size: 30px;
    font-family: cursive;
}

 #admin .detail table{
    border: 4px solid black;
    width: 100%;
}
.detail table tr{
    border:3px solid black;
}
.detail table tr td{
    border: 3px solid black;
    font-size: 12px;
    font-family: cursive;
}

/* MEDIA STYLING BEGINS HERE  */

@media(max-width:900px){
    .header .nav .social{
        display: none;
     }
     .header .nav .toggle{
       display: block;
       position: absolute;
       left:80%;
     }
     .header .nav .nav-link .first{
        display:block;
        list-style: none;
        position: absolute;
        padding: 2rem;
        top: 15%;
        left:0;
       border-radius: 20px;
        background-color: white;
        width: 100%;
    }
    .header .nav .nav-link .first li a{
        color:black;
    }
    .header .nav .nav-link .first li a:hover{
        background-color:grey;
    }
    .header .nav .nav-link .first li{
        line-height: 60px;
    }
    .header .nav .nav-link .second li a{
        text-decoration: none;
        color:orange;
    }
    #slider{
        display: none;
    }
}
